# Database Configuration (Render PostgreSQL)
DB_HOST=dpg-d8e3ope8bjmc73ao15qg-a.oregon-postgres.render.com
DB_PORT=5432
DB_NAME=toyxonadata
DB_USER=ibrohim
DB_PASS=eE65Keyv0mX8uhLWfapR0KV8UcgK1QsE

# Server
PORT=8080
NODE_ENV=production

# Email Configuration (Nodemailer)
EMAIL_USER=execusnazgul@gmail.com
EMAIL_PASS=Ibrohim1454
EMAIL_SERVICE=gmail
EMAIL_FROM=noreply@toyxona.uz

# JWT Secret
JWT_SECRET=E[)?z%9vjU)h,^ny8q/R{N65e$|!KT[d/fNd=]k42Nh
